#logo-container {
  padding: 72px;
  gap: 32px;
}

#logo-main {
  font-size: 10rem;
  line-height: 0.7em;
  width: 50vw;
  max-width: 800px;
  filter: drop-shadow(0 3px 2px #27655fcc);
}

#logo-sub {
  font-size: 6rem;
  line-height: 0.7em;
  width: 75vw;
  max-width: 1300px;
  filter: drop-shadow(0 3px 2px #27655fcc);
}