#logo-main, #logo-sub {
  flex-basis: 0;
  margin: 0 8%;
  filter: drop-shadow(0 3px 2px #27655fcc);
  fill: var(--text);
}

.spacer-large {
  flex-grow: 2.25;
}

.spacer-small {
  flex-grow: 1;
}

#logo-main {
  flex-grow: 3;
}

#logo-sub {
  flex-grow: 2;
}

h1 {
  font-family: obra-letra, Aspekta, Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0 0 0.5em 0;
  line-height: 1;
  text-wrap: balance;
  font-size: 2rem;
}

p {
  margin: 0;
}

@media (max-width: 768px) {
  #logo-container {
    min-height: 33vw;
  }
}