body {
  background: #a3bdbb radial-gradient(#27655f, transparent 150%) fixed;
  height: 100vh;
  margin: 0;
  color: #dfdcd4;
  font-family: Aspekta, Helvetica, Arial, sans-serif;
  font-weight: 450;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  text-wrap: pretty;
}

body::before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8vh);
}

::selection {
  background: #27655fbf;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
}

.card {
  background: #ffffff33;
  border: 1px solid #ffffff5c;
  border-radius: 28px;
  min-height: 56px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 48px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.occupy-remaining,
.card-grid > .card {
  flex: 1;
}

.card-grid {
  display: flex;
  gap: 24px;
}

.shadow {
  filter: drop-shadow(0 0 8px #27655fcc);
}

#footer {
  flex-direction: row;
  padding: 0;
}

#header {
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 24px;
  margin: 0 24px 24px 24px;
  z-index: 1;
  padding: 0;
}

#home-button {
  width: 22px;
  height: 20px;
  margin: 18px;
}

#home-button > a {
  transition: filter 200ms;
}

#home-button > a:hover {
  filter: drop-shadow(0 0 16px #27655fcc);
}

#nav-right > a {
  margin-right: 28px;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.015em;
  transition:
    font-weight 200ms ease,
    filter 200ms;
}

#nav-right > a.nav-bold {
  font-weight: 900;
}

#nav-right > a:hover {
  font-weight: 800;
  filter: drop-shadow(0 0 16px #27655faa);
}
