:root {
  --accent: rgb(39, 101, 95);
  --accent-trans-1: rgba(39, 101, 95, 80%);
  --accent-trans-2: rgba(39, 101, 95, 67%);
  --text: #dfdcd4;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
  }
}

body, html {
  height: 100%;
}

body {
  background: radial-gradient(var(--accent), #a3bdbb 150%) fixed;
  margin: 0;
  color: var(--text);
  font-family: Aspekta, Helvetica, Arial, sans-serif;
  font-weight: 450;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  text-wrap: pretty;
}

::selection {
  background: var(--accent-trans-1);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
}

.card {
  background: #ffffff33;
  border: 1px solid #ffffff5c;
  min-height: 56px;
  border-radius: 28px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  backdrop-filter: blur(64px);
}

.align-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.occupy-remaining,
.card-grid > .card {
  flex: 1;
}

.card-grid {
  display: flex;
  gap: 24px;
}

.shadow {
  filter: drop-shadow(0 0 8px var(--accent-trans-1));
}

#header {
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 24px;
  margin: 0 24px 24px 24px;
}

#home-button{
  width: 22px;
  height: 20px;
  margin: 18px;
}

#home-button {
  transition: filter 200ms;
}

#home-button:hover {
  filter: drop-shadow(0 0 16px var(--accent-trans-2));
}

#home-button > svg {
  fill: var(--text);
  width: 22px;
  height: 20px;
}

#nav-right > a {
  margin-right: 28px;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.015em;
  transition:
    font-weight 200ms ease,
    filter 200ms;
}

#nav-right > a.nav-bold {
  font-weight: 900;
}

#nav-right > a:hover {
  font-weight: 800;
  filter: drop-shadow(0 0 16px var(--accent-trans-2));
}
