:root {
  --accent: rgb(39, 101, 95);
  --accent-trans-1: rgba(39, 101, 95, 80%);
  --accent-trans-2: rgba(39, 101, 95, 67%);
  --text: #dfdcd4;

  --space: 24px;
  --card-padding: 32px;

  --card-border-width: 1px;
  --card-radius: 28px;
  --card-min-content-height: calc(2 * var(--card-radius));
  --card-min-outer-height: calc(
    var(--card-min-content-height) + 2 * var(--card-border-width)
  );
  --header-offset: calc(var(--space) + var(--card-min-outer-height));
}

body,
html {
  height: 100%;
}

body {
  background: radial-gradient(var(--accent), #a3bdbb 150%) fixed;
  margin: 0;
  color: var(--text);
  font-family: Aspekta, Helvetica, Arial, sans-serif;
  font-weight: 450;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  text-wrap: pretty;
}

svg {
  display: block;
}

::selection {
  background: var(--accent-trans-1);
}

a {
  text-decoration: underline var(--accent) solid 2px;
  text-underline-position: from-font;
  color: inherit;
  font-weight: 650;
  transition: font-weight 200ms ease,
  filter 200ms;
  position: relative;
}

a.bold {
  font-weight: 900;
}

a:hover {
  font-weight: 800;
  filter: drop-shadow(0 0 16px var(--accent-trans-2));
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--space);
  gap: var(--space);
}

.card {
  background: #ffffff33;
  border: var(--card-border-width) solid #ffffff5c;
  min-height: var(--card-min-content-height);
  border-radius: var(--card-radius);
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  backdrop-filter: blur(64px);
}

.card-content {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: var(--card-padding);
}

.align-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.no-padding {
  padding: 0;
}

.occupy-remaining,
.card-grid > .card {
  flex: 1;
}

.card-grid {
  display: flex;
  gap: var(--space);
}

.shadow {
  filter: drop-shadow(0 0 8px var(--accent-trans-1));
}

#header {
  z-index: 1;
  position: sticky;
  top: var(--space);
  align-items: center;
  justify-content: space-between;
  margin: 0 var(--space) var(--space) var(--space);
}

#home-button {
  margin: calc((var(--card-min-content-height) - 20px) / 2);
  transition: filter 200ms;
}

#home-button:hover {
  filter: drop-shadow(0 0 16px var(--accent-trans-2));
}

#home-button > svg {
  fill: var(--text);
  width: 22px;
  height: 20px;
}

#nav-right > a {
  text-decoration-line: none;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-right: var(--card-radius);
}

#gear-logo {
  height: 32px;
  aspect-ratio: 917 / 1018;
}

.progressive-blur {
  --top: calc(var(--header-offset) - (var(--card-min-outer-height) / 2));
  --height: calc(var(--space) + (var(--card-min-outer-height) / 2));

  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--header-offset) + var(--space));
  pointer-events: none;

  --step-0: var(--top);
  --step-1: calc(var(--top) + (var(--height) * 0.2));
  --step-2: calc(var(--top) + (var(--height) * 0.4));
  --step-3: calc(var(--top) + (var(--height) * 0.6));
  --step-4: calc(var(--top) + (var(--height) * 0.8));
}

.progressive-blur > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.progressive-blur > div:nth-child(1) {
  z-index: 1;
  backdrop-filter: blur(16px);
  mask-image: linear-gradient(
    to bottom,
    black 0 var(--step-0),
    transparent var(--step-1)
  );
}

.progressive-blur > div:nth-child(2) {
  z-index: 2;
  backdrop-filter: blur(8px);
  mask-image: linear-gradient(
    to bottom,
    black var(--step-0) var(--step-1),
    transparent var(--step-2)
  );
}

.progressive-blur > div:nth-child(3) {
  z-index: 3;
  backdrop-filter: blur(4px);
  mask-image: linear-gradient(
    to bottom,
    transparent var(--step-0),
    black var(--step-1) var(--step-2),
    transparent var(--step-3)
  );
}

.progressive-blur > div:nth-child(4) {
  z-index: 4;
  backdrop-filter: blur(2px);
  mask-image: linear-gradient(
    to bottom,
    transparent var(--step-1),
    black var(--step-2) var(--step-3),
    transparent var(--step-4)
  );
}

.progressive-blur > div:nth-child(5) {
  z-index: 5;
  backdrop-filter: blur(1px);
  mask-image: linear-gradient(
    to bottom,
    transparent var(--step-2),
    black var(--step-3) var(--step-4),
    transparent 100%
  );
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}

@media (max-width: 768px) {
  body,
  html {
    height: auto;
    min-height: 100vh;
  }

  .card-grid {
    display: contents;
  }

  .card-grid > .card {
    flex-grow: 0;
  }

  /* TODO: add hamburger menu */
  #nav-right {
    display: none;
  }
}
